@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased overflow-auto;
    min-width: 200px;
  }
  p,
  a,
  button,
  span,
  div {
    font-family: theme("fontFamily.body");
    letter-spacing: -0.03em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme("fontFamily.display");
    letter-spacing: -0.025em;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.ql-toolbar {
  @apply rounded-t-lg bg-gray-50;
}

.ql-container {
  @apply rounded-b-lg border shadow-sm;
}

.ql-editor {
  min-height: 80px;
}
